parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method App\\\\Infrastructure\\\\Auth\\\\User\\:\\:find\\(\\)\\.$#"
			count: 1
			path: app/Infrastructure/Auth/User.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:create\\(\\)\\.$#"
			count: 1
			path: app/Infrastructure/Auth/User.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Routing\\\\ResponseFactory\\|Illuminate\\\\Http\\\\Response\\:\\:json\\(\\)\\.$#"
			count: 1
			path: app/Infrastructure/Exceptions/Handler.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Http\\\\RedirectResponse\\|Illuminate\\\\Routing\\\\Redirector\\:\\:withInput\\(\\)\\.$#"
			count: 1
			path: app/Infrastructure/Exceptions/Handler.php

		-
			message: "#^Cannot call method previous\\(\\) on Illuminate\\\\Contracts\\\\Routing\\\\UrlGenerator\\|string\\.$#"
			count: 1
			path: app/Infrastructure/Exceptions/Handler.php

		-
			message: "#^Parameter \\#1 \\$array of static method Illuminate\\\\Support\\\\Arr\\:\\:except\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: app/Infrastructure/Exceptions/Handler.php

		-
			message: "#^Access to an undefined property App\\\\Infrastructure\\\\Auth\\\\HasSession\\:\\:\\$lobby_id\\.$#"
			count: 1
			path: app/Infrastructure/Http/Controllers/MemberController.php

		-
			message: "#^Access to an undefined property App\\\\Infrastructure\\\\Auth\\\\HasSession\\:\\:\\$member_id\\.$#"
			count: 1
			path: app/Infrastructure/Http/Controllers/MemberController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$id\\.$#"
			count: 1
			path: app/Infrastructure/Http/Middleware/Authenticate.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: app/Infrastructure/Http/Middleware/RedirectIfAuthenticated.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Route\\:\\:inertia\\(\\)\\.$#"
			count: 1
			path: app/Infrastructure/Http/Routes/web.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: app/Infrastructure/Providers/RouteServiceProvider.php

		-
			message: "#^Access to an undefined property App\\\\Infrastructure\\\\Auth\\\\User\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Feature/Auth/UserTest.php

		-
			message: "#^Access to an undefined property App\\\\Infrastructure\\\\Auth\\\\User\\:\\:\\$lobby_id\\.$#"
			count: 2
			path: tests/Feature/Auth/UserTest.php

		-
			message: "#^Access to an undefined property App\\\\Infrastructure\\\\Auth\\\\User\\:\\:\\$member_id\\.$#"
			count: 2
			path: tests/Feature/Auth/UserTest.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Auth\\:\\:shouldHaveReceived\\(\\)\\.$#"
			count: 1
			path: tests/Feature/Auth/UserTest.php

		-
			message: "#^Access to an undefined property App\\\\Infrastructure\\\\Auth\\\\User\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Feature/LeaveLobbyTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:once\\(\\)\\.$#"
			count: 1
			path: tests/Unit/CreateLobbyControllerTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:once\\(\\)\\.$#"
			count: 1
			path: tests/Unit/CreateMemberControllerTest.php
