parameters:
    reportMaybesInPropertyPhpDocTypes: false
    ignoreErrors:
        - '#^Property App\\Domain\\Exceptions\\.*Exception\:\:\$message has no type specified\.$#'
        - '#^Call to an undefined method Illuminate\\Http\\RedirectResponse\|Illuminate\\Routing\\Redirector\:\:route\(\)\.$#'
    level: max
    paths:
        - app
        - tests
includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
