parameters:
    reportMaybesInPropertyPhpDocTypes: false
    ignoreErrors:
        - '#^Call to an undefined method Illuminate\\Testing\\TestResponse\:\:assertInertia\(\)\.$#'
        - '#^Property App\\Domain\\Exceptions\\.*Exception\:\:\$message has no type specified\.$#'
    level: max
    paths:
        - app
        - tests
includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
